
*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
div:where(.swal2-icon).swal2-question{
  color: #D4AF37 !important;
  border-color:#D4AF37 !important;
}